<h3>login: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/login" method='post'>
        <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" required>
        <label for="senha">senha:</label>
            <input type="password" name="senha" class="form-control" required>
            <button class="btn btn-success mt-4"  type="submit">entrar</button>
            </form>
    </div>

</div>